body{
  margin: 5% auto;
  max-width: 1000px;
  background: #FFEBCD;
}

div#root{
  background: #F8F8FF;
  padding: 2%;
  border-radius: 5%;
}

div{
  font-size: 1.5em;
  font-weight: bold;
  text-indent:2%;
}

.bar-num{
  color: orange;
  background-color: tomato ;
  height: 20%;
  margin: 1px;
}
