body{
  background: #FFEBCD;
  max-width:80%;
  margin:1% auto;
  font-size:.5em;
  color:grey;
}

div#root{
  min-width:40%;
  min-height:40%;
  background: #F8F8FF;
  padding: 1%;
  border-radius: 5%;
  float:left;
}

h1 {
  min-width: 100%;
  color:dimGrey;
  text-align: center;
}

#yaxis {
  max-width: 20%;
  float:left;
  text-align: left;
  transform: rotate(-90deg);
  margin-top: 20%
}

#chart {
  padding-left:1%;
  min-width:80%;
  min-height:50%;
  float: left;
  border-right: solid thin grey;
  border-top: solid thin grey;
  transform: rotate(180deg);
}

#xaxis {
  min-width: 100%;
  text-align: center;
  float:left;
}


.bar-num{
  color: orange;
  width: 18%;
  background-color: tomato ;
  margin-left: 1%;
  font-size: 1.5em;
  font-weight: bold;
  text-indent:2%;
  text-align: center;
  float:left;
  transform: rotate(180deg);
  }
