body{
  background: #FFEBCD;
  max-width: 96%;
  margin:2% auto;
  font-size:.5em;
  color:grey;
}

div#root{
  width:90%;
  padding: 4%;
  background: #F8F8FF;
  border-radius: 5%;
}

h1 {
  width: 100%;
  color:dimGrey;
  text-align: center;
}

.chart-wrapper {
  width:100%;
  margin:1% auto;
  display: flex;
  justify-content: center;
}

#chart {
  float:left;
  width:100%;
  padding-left: 2%;
  border-right: solid thin grey;
  border-top: solid thin grey;
  transform: rotate(180deg);
}

.bar-num{
  background-color: tomato ;
  margin-left: 1%;
  float:left;
  transform: rotate(180deg);
  }

.bar-num p{
  color: orange;
  margin: 2% auto;
  font-size: 1.5em;
  font-weight: bold;
  text-align: center;
  z-index: 1;
}


#xaxis {
  min-width: 100%;
  text-align: center;
}

#xlabel {
  color:grey;
  font-size: 0.75em;
  transform: rotate(-45deg);
}

#yaxis {
  width:10%;
  align-self:center;
  transform: rotate(-90deg);
}
